<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org " lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Dashboard </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>

    <!-- App favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!-- Theme Config Js -->
    <script src="/js/config.js"></script>

    <!-- Select2 css -->
    <link href="/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>

    <!-- Daterangepicker css -->
    <link rel="stylesheet" href="/libs/daterangepicker/daterangepicker.css">

    <!-- Fullcalendar css -->
    <link href="/libs/fullcalendar/main.min.css" rel="stylesheet" type="text/css"/>

    <!-- Bootstrap Touchspin css -->
    <link href="/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" type="text/css"/>

    <!-- Flatpickr Timepicker css -->
    <link href="/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css"/>

    <!-- Bootstrap css -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <!-- App css -->
    <link href="/css/app.min.css" rel="stylesheet" type="text/css" id="app-style"/>

    <!-- Icons css -->
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.min.css">

    <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->

    <!-- Include SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">


    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/css/multi-select-tag.css">
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/js/multi-select-tag.js"></script>


    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">


    <!-- Datatables css -->
    <link href="/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
    <link href="/libs/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="/libs/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="/libs/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="/libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
    <link href="/libs/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>

    <style>
        .project-box{
            border-radius: 30px;
        }
        h4{
            cursor: pointer;
        }
    </style>

</head>

<body>
<!-- Begin page -->
<div class="wrapper">

    <!-- ========== Topbar Start ========== -->
    <div th:insert="~{/top-bar :: top-bar}"></div>
    <!-- ========== Topbar End ========== -->

    <!-- ========== Left Sidebar Start ========== -->
    <div th:insert="~{/leftside-menu :: leftside-menu}"></div>
    <!-- ========== Left Sidebar End ========== -->


    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- Include jQuery library -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>




                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box justify-content-between d-flex align-items-lg-center flex-lg-row flex-column">
                            <h4 class="page-title">Dashboard</h4>
                            <form class="d-flex mb-xxl-0 mb-2">
                                <div class="input-group">
                                    <input type="text" class="form-control shadow border-0" id="dash-daterange">
                                    <span class="input-group-text bg-primary border-primary text-white">
                                                <i class="ri-calendar-todo-fill fs-13"></i>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12">

                        <div class="row mb-2 justify-content-between">
                            <div class="col-lg-2">
                                <!-- create project button icon -->
                                <div class="mb-2 p-0"
                                     th:if="${#authorization.expression('hasRole(''ROLE_SYSTEM_ADMIN'') or hasRole(''ROLE_PROJECT_MANAGER'')')}">
                                    <button type="button" class="btn btn-sm btn-soft-info rounded-pill"
                                            data-bs-toggle="modal" data-bs-target="#createproject">
                                        <i class="ri-add-circle-fill" style="font-size: 18px;"></i>
                                        Create Project
                                    </button>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="input-group">
                                    <input type="text" id="projectSearchInput" class="form-control"
                                           placeholder="Search projects" aria-label="Search projects"
                                           aria-describedby="searchIcon">
                                    <span class="input-group-text" id="searchIcon">
                                        <i class="bi bi-search"></i>
                                        <!-- Assuming you're using Bootstrap icons -->
                                    </span>
                                </div>
                            </div><!-- end col-->
                        </div>
                        <!-- end row-->

                        <div class="row">
                            <div  th:each="project : ${projectList}" class="col-lg-4">
                                <div class="card project-box p-1">
                                    <div class="card-body" >
                                        <div class="dropdown float-end">
                                            <a href="#" class="dropdown-toggle card-drop arrow-none" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="ri-more-fill m-0 text-muted h3"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a th:href="@{'project/addpeople/' + ${project.id}}" th:id="${project.id}" class="dropdown-item add-people-link" data-bs-toggle="modal"
                                                   data-bs-target="#addPeopleModal"><i
                                                        class="ri-user-add-line me-1"></i>Add Members</a>
                                            </div>
                                        </div>
                                        <!-- end dropdown -->
                                        <!-- Title-->
                                        <div th:attr="data-project-id=${project.id}" onclick="redirectToHomePage(this)">
                                            <h4 class="project-name mt-0 text-dark" th:text="${project.projectName}">
                                                <a href="#">
                                                </a>
                                            </h4>
                                            <div class="mb-4">
                                                <span th:if="${project.status == 'Working in Progress'}" class="badge bg-info-subtle text-info">Working in Progress</span>
                                                <span th:if="${project.status == 'Done'}" class="badge bg-success-subtle text-success">Done</span>
                                                <span th:if="${project.status == 'Pending'}" class="badge bg-warning-subtle text-warning">Pending</span>
                                                <span th:if="${project.status == 'Coming Soon'}" class="badge bg-secondary-subtle text-secondary">Coming Soon</span>
                                            </div>
                                            <!-- Task info-->
                                            <p class="mb-1">
                                                <span class="pe-2 text-nowrap mb-2 d-inline-block">
                                                    <i class="mdi mdi-format-list-bulleted-type text-muted"></i>
                                                    <b th:text="${project.numberOfIssues}"></b> Issues
                                                </span>
                                            </p>
                                            <!-- Team-->
                                            <h5>Team Members:</h5>
                                            <div class="avatar-group mb-3" id="tooltips-container">
                                                <!-- Iterate over team members -->
                                                <div class="avatar-group">
                                                    <div th:each="user : ${project.users}">
                                                        <a th:href="@{'/userDetail/' + ${user.id}}" data-bs-container="#tooltips-container" data-bs-toggle="tooltip" data-bs-placement="top" th:title="${user.username}" class="avatar-group-item">
                                                            <img th:src="${user.photosImagePath}" class="rounded-circle avatar-xs" alt="User Avatar">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Progress-->
                                            <p class="mb-2 fw-semibold">Task completed: <span class="float-end">28/78</span></p>
                                            <div class="progress mb-1" style="height: 7px;">
                                                <div class="progress-bar"
                                                     role="progressbar" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100"
                                                     style="width: 34%;">
                                                </div><!-- /.progress-bar .progress-bar-danger -->
                                            </div><!-- /.progress .no-rounded -->
                                        </div>
                                    </div>
                                </div> <!-- end card box-->
                            </div><!-- end col-->
                        </div>
                    </div> <!-- end col-->

                    <div class="modal fade" id="addPeopleModal" tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="addPeopleModalLabel">Add People</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <form id="addPeopleForm" enctype="multipart/form-data">
                                    <div class="modal-body">

                                        <div class="mb-3">
                                            <label for="projectUserSelect" class="form-label">Select Users</label>
                                            <select class="form-select" id="projectUserSelect"
                                                    name="selectedUsers" multiple>
                                                <!-- Users will be populated dynamically using JavaScript -->
                                            </select>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Add</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <script>
                        $(document).ready(function () {
                            var projectId; // Declare projectId in a higher scope

                            $('.add-people-link').click(function (e) {
                                e.preventDefault();
                                projectId = $(this).attr('id');

                                // AJAX request to fetch users associated with the selected issue
                                $.ajax({
                                    type: 'GET',
                                    url: '/api/users?role=ROLE_MEMBER', // Include role parameter
                                    success: function (data) {
                                        // Clear existing options
                                        $('#projectUserSelect').empty();

                                        // Populate select dropdown with retrieved user data
                                        $.each(data, function (index, user) {
                                            $('#projectUserSelect').append($('<option>', {
                                                value: user.id,
                                                text: user.username
                                            }));
                                        });

                                        // Show the modal
                                        $('#addPeopleModal').modal('show');
                                    },
                                    error: function (xhr, status, error) {
                                        console.error(xhr.responseText);
                                        // Handle error
                                    }
                                });
                            });

                            // Submit the form when the "Add" button is clicked
                            $('#addPeopleForm').submit(function (e) {
                                e.preventDefault();


                                // Get selected user IDs
                                var selectedUsers = $('#projectUserSelect').val();
                                console.log(projectId);
                                console.log(selectedUsers);

                                // AJAX request to add users to the project
                                $.ajax({
                                    type: 'POST',
                                    url: '/api/addUsersToProject?projectId=' + projectId + '&selectedUsers=' + selectedUsers.join(','),
                                    success: function (response) {
                                        // Handle success response
                                        console.log(response);

                                        Swal.fire({
                                            title: 'Success!',
                                            text: 'New Members added successfully.',
                                            icon: 'success',
                                            confirmButtonText: 'OK'
                                        });

                                        // Close the modal
                                        $('#addPeopleModal').modal('hide');
                                    },
                                    error: function (xhr, status, error) {
                                        console.error(xhr.responseText);
                                        // Handle error
                                    }
                                });

                            });
                        });

                    </script>

                    <script>
                        $(document).ready(function () {
                            // Populate the Issue Type dropdown
                            fetchIssueTypes();

                            // Populate the Issue Category dropdown
                            fetchIssueCategories();

                            // Populate the Project dropdown
                            fetchActiveProjects()
                        });

                        // Function to fetch Issue Types and populate the dropdown
                        function fetchIssueTypes() {
                            $.ajax({
                                url: '/api/issue-types',
                                type: 'GET',
                                success: function (issueTypes) {
                                    var select = $('#searchIssueType');
                                    select.empty();
                                    select.append('<option value="">Select Issue Type</option>');
                                    // Populate the dropdown with fetched Issue Types
                                    issueTypes.forEach(function (issueType) {
                                        select.append('<option value="' + issueType.id + '">' + issueType.issueName + '</option>');
                                    });
                                },
                                error: function (xhr, status, error) {
                                    console.error('Error fetching Issue Types:', error);
                                }
                            });
                        }

                        // Function to fetch Issue Categories and populate the dropdown
                        function fetchIssueCategories() {
                            $.ajax({
                                url: '/api/issue-categories',
                                type: 'GET',
                                success: function (issueCategories) {
                                    var select = $('#searchCategory');
                                    select.empty();
                                    select.append('<option value="">Select Issue Category</option>');
                                    // Populate the dropdown with fetched Issue Categories
                                    issueCategories.forEach(function (category) {
                                        select.append('<option value="' + category.id + '">' + category.categoryName + '</option>');
                                    });
                                },
                                error: function (xhr, status, error) {
                                    console.error('Error fetching Issue Categories:', error);
                                }
                            });
                        }


                        // Function to fetch Active Projects and populate the dropdown
                        function fetchActiveProjects() {
                            $.ajax({
                                url: '/api/active-projects', // Endpoint for active projects
                                type: 'GET',
                                success: function (activeProjectsList) {
                                    var select = $('#searchProject');
                                    select.empty();
                                    select.append('<option value="">Select Project</option>');

                                    // Populate the dropdown with fetched Active Projects
                                    activeProjectsList.forEach(function (project) {
                                        select.append('<option value="' + project.id + '">' + project.projectName + '</option>');
                                    });
                                },
                                error: function (xhr, status, error) {
                                    console.error('Error fetching Active Projects:', error);
                                }
                            });
                        }

                    </script>

                </div>

                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        const searchInput = document.getElementById('projectSearchInput');
                        const projectRows = document.querySelectorAll('.project-row');

                        searchInput.addEventListener('input', function () {
                            const searchTerm = searchInput.value.trim().toLowerCase();

                            projectRows.forEach(function (row) {
                                const projectName = row.querySelector('.project-name').textContent.trim().toLowerCase();
                                if (projectName.includes(searchTerm)) {
                                    row.style.display = '';
                                } else {
                                    row.style.display = 'none';
                                }
                            });
                        });
                    });
                </script>


                <!-- Create Project-->
                <div class="modal fade" id="createproject" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-success text-light py-3 px-4 border-bottom-0">
                                <h4 class="modal-title  fw-bold" id="createprojectlLabel"> Create Project</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                        id="closeModalBtn"></button>
                            </div>
                            <form id="createProjectForm" th:object="${project}" class="needs-validation" novalidate>
                                <div class="modal-body">
                                    <div id="errorMessage" class="text-danger"></div>

                                    <div class="mb-3">
                                        <label for="projectName" class="form-label">Project Name</label>
                                        <input type="text" class="form-control" id="projectName"
                                               th:field="*{projectName}" placeholder="Enter Project Name" required>
                                        <div class="invalid-feedback">Please enter a project name.</div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="projectName" class="form-label">Project Key</label>
                                        <input type="text" class="form-control" id="projectKey"
                                               th:field="*{projectKey}" placeholder="Enter Project Name" required>
                                        <div class="invalid-feedback">Please enter a project key.</div>
                                    </div>


                                    <div class="deadline-form">
                                        <div class="row g-3 mb-3">
                                            <div class="col">
                                                <label for="projectStartDate" class="form-label">Project Start
                                                    Date</label>
                                                <input type="date" class="form-control" id="projectStartDate"
                                                       th:field="*{projectStartDate}" required>
                                                <div class="invalid-feedback">Please select a start date.</div>
                                                <!-- Error message for project start date -->
                                            </div>
                                            <div class="col">
                                                <label for="projectDueDate" class="form-label">Project Due Date</label>
                                                <input type="date" class="form-control" id="projectDueDate"
                                                       th:field="*{projectDueDate}" required>
<!--                                                <div id="projectEndDateError" class="text-danger"></div>-->
                                                <div class="invalid-feedback">Please select due date.</div>
                                                <!-- Error message for project end date -->
                                            </div>
                                        </div>
                                        <div class="row g-3 mb-3">

                                            <div class="col-sm-12">
                                                <!-- Hidden field to carry the logged-in user's ID -->
                                                <input type="hidden" name="loggedInUserId" th:value="${loggedInUser.id}">

                                                <label class="form-label">Task Assign Person</label>
                                                <select name="countries" id="countries" multiple="multiple" required>
                                                    <!-- Loop through projectManagersAndMembers -->
                                                    <option
                                                            th:each="user : ${projectManagersAndMembers}"
                                                            th:value="${user.id}"
                                                            th:text="${user.username} + ' - ' + '<span class=&quot;badge&quot; style=&quot;background-color: ' + (${#strings.contains(user.getAuthorities(), 'ROLE_PROJECT_MANAGER') ? 'blue' : 'green'}) + '; color: white;&quot;>' + (${#strings.contains(user.getAuthorities(), 'ROLE_PROJECT_MANAGER') ? 'Manager' : 'Member'}) + '</span>'">
                                                    </option>
                                                    <!-- Loop through members -->
                                                    <option
                                                            th:each="user : ${members}"
                                                            th:value="${user.id}"
                                                            th:text="${user.username}+ ' - ' + '<span class=&quot;badge&quot; style=&quot;background-color: ' + (${#strings.contains(user.getAuthorities(), 'ROLE_PROJECT_MANAGER') ? 'blue' : 'green'}) + '; color: white;&quot;>' + (${#strings.contains(user.getAuthorities(), 'ROLE_PROJECT_MANAGER') ? 'Manager' : 'Member'}) + '</span>'">
                                                    </option>
                                                </select>
<!--                                                <div id="assignPersonError" class="text-danger"></div>-->
                                                <div class="invalid-feedback">Please select at least one person.</div>
                                                <!-- Error message for assignee selection -->
                                                <script>
                                                    new MultiSelectTag('countries', {
                                                        rounded: true,    // default true
                                                        shadow: true,      // default false
                                                        placeholder: 'Search',  // default Search...
                                                        tagColor: {
                                                            textColor: '#327b2c',
                                                            borderColor: '#92e681',
                                                            bgColor: '#eaffe6',
                                                        },
                                                        onChange: function (values) {
                                                            console.log(values)
                                                        }
                                                    })
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                            id="cancelBtn">Cancel
                                    </button>
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
            <!-- container -->

        </div>
        <!-- content -->

        <!-- Footer Start -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <script>document.write(new Date().getFullYear())</script>
                        © FML -
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-end footer-links d-none d-md-block">
                            <a href="javascript: void(0);">About</a>
                            <a href="javascript: void(0);">Support</a>
                            <a href="javascript: void(0);">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->


<!-- Theme Settings -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="theme-settings-offcanvas">
    <div class="d-flex align-items-center bg-primary p-3 offcanvas-header">
        <h5 class="text-white m-0">Theme Settings</h5>
        <button type="button" class="btn-close btn-close-white ms-auto" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
    </div>

    <div class="offcanvas-body p-0">
        <div data-simplebar class="h-100">
            <div class="card mb-0 p-3">
                <div class="alert alert-warning" role="alert">
                    <strong>Customize </strong> the overall color scheme, sidebar menu, etc.
                </div>

                <h5 class="mt-0 fs-16 fw-bold mb-3">Choose Layout</h5>
                <div class="d-flex flex-column gap-2">
                    <div class="form-check form-switch">
                        <input id="customizer-layout01" name="data-layout" type="checkbox" value="vertical"
                               class="form-check-input">
                        <label class="form-check-label" for="customizer-layout01">Vertical</label>
                    </div>
                    <div class="form-check form-switch">
                        <input id="customizer-layout02" name="data-layout" type="checkbox" value="horizontal"
                               class="form-check-input">
                        <label class="form-check-label" for="customizer-layout02">Horizontal</label>
                    </div>
                </div>

                <h5 class="my-3 fs-16 fw-bold">Color Scheme</h5>

                <div class="d-flex flex-column gap-2">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="data-bs-theme" id="layout-color-light"
                               value="light">
                        <label class="form-check-label" for="layout-color-light">Light</label>
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="data-bs-theme" id="layout-color-dark"
                               value="dark">
                        <label class="form-check-label" for="layout-color-dark">Dark</label>
                    </div>
                </div>

                <div id="layout-width">
                    <h5 class="my-3 fs-16 fw-bold">Layout Mode</h5>

                    <div class="d-flex flex-column gap-2">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="data-layout-mode"
                                   id="layout-mode-fluid" value="fluid">
                            <label class="form-check-label" for="layout-mode-fluid">Fluid</label>
                        </div>

                        <div id="layout-boxed">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" name="data-layout-mode"
                                       id="layout-mode-boxed" value="boxed">
                                <label class="form-check-label" for="layout-mode-boxed">Boxed</label>
                            </div>
                        </div>

                        <div id="layout-detached">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" name="data-layout-mode"
                                       id="data-layout-detached" value="detached">
                                <label class="form-check-label" for="data-layout-detached">Detached</label>
                            </div>
                        </div>
                    </div>
                </div>

                <h5 class="my-3 fs-16 fw-bold">Topbar Color</h5>

                <div class="d-flex flex-column gap-2">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="data-topbar-color" id="topbar-color-light"
                               value="light">
                        <label class="form-check-label" for="topbar-color-light">Light</label>
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="data-topbar-color" id="topbar-color-dark"
                               value="dark">
                        <label class="form-check-label" for="topbar-color-dark">Dark</label>
                    </div>

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="data-topbar-color" id="topbar-color-brand"
                               value="brand">
                        <label class="form-check-label" for="topbar-color-brand">Brand</label>
                    </div>
                </div>

                <div>
                    <h5 class="my-3 fs-16 fw-bold">Menu Color</h5>

                    <div class="d-flex flex-column gap-2">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="data-menu-color"
                                   id="leftbar-color-light" value="light">
                            <label class="form-check-label" for="leftbar-color-light">Light</label>
                        </div>

                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="data-menu-color"
                                   id="leftbar-color-dark" value="dark">
                            <label class="form-check-label" for="leftbar-color-dark">Dark</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="data-menu-color"
                                   id="leftbar-color-brand" value="brand">
                            <label class="form-check-label" for="leftbar-color-brand">Brand</label>
                        </div>
                    </div>
                </div>

                <div id="sidebar-size">
                    <h5 class="my-3 fs-16 fw-bold">Sidebar Size</h5>

                    <div class="d-flex flex-column gap-2">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="data-sidenav-size"
                                   id="leftbar-size-default" value="default">
                            <label class="form-check-label" for="leftbar-size-default">Default</label>
                        </div>

                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="data-sidenav-size"
                                   id="leftbar-size-compact" value="compact">
                            <label class="form-check-label" for="leftbar-size-compact">Compact</label>
                        </div>

                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="data-sidenav-size"
                                   id="leftbar-size-small" value="condensed">
                            <label class="form-check-label" for="leftbar-size-small">Condensed</label>
                        </div>

                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="data-sidenav-size"
                                   id="leftbar-size-small-hover" value="sm-hover">
                            <label class="form-check-label" for="leftbar-size-small-hover">Hover View</label>
                        </div>

                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="data-sidenav-size"
                                   id="leftbar-size-full" value="full">
                            <label class="form-check-label" for="leftbar-size-full">Full Layout</label>
                        </div>

                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="data-sidenav-size"
                                   id="leftbar-size-fullscreen" value="fullscreen">
                            <label class="form-check-label" for="leftbar-size-fullscreen">Fullscreen Layout</label>
                        </div>
                    </div>
                </div>

                <div id="layout-position">
                    <h5 class="my-3 fs-16 fw-bold">Layout Position</h5>

                    <div class="btn-group checkbox" role="group">
                        <input type="radio" class="btn-check" name="data-layout-position" id="layout-position-fixed"
                               value="fixed">
                        <label class="btn btn-soft-primary w-sm" for="layout-position-fixed">Fixed</label>

                        <input type="radio" class="btn-check" name="data-layout-position"
                               id="layout-position-scrollable" value="scrollable">
                        <label class="btn btn-soft-primary w-sm ms-0"
                               for="layout-position-scrollable">Scrollable</label>
                    </div>
                </div>

                <div id="sidebar-user">
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <label class="fs-16 fw-bold m-0" for="sidebaruser-check">Sidebar User Info</label>
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input" name="sidebar-user" id="sidebaruser-check">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<script>

    function redirectToHomePage(element) {
        // Get the project ID from the data attribute
        var projectId = element.getAttribute('data-project-id');

        // Check if the clicked element is not a link or an icon
        if (element.tagName.toLowerCase() !== 'a' && element.tagName.toLowerCase() !== 'i') {
            // Redirect to the project detail page with the project ID
            window.location.href = '/projectDetail/' + projectId;
        }
    }


    function redirectToMainPage(button) {
        var projectId = button.getAttribute('data-project-id');
        // Redirect to the main project page with the project ID
        window.location.href = '/main-project-page/' + projectId;
    }


    document.getElementById('closeModalBtn').addEventListener('click', function () {
        // Reload the window when the modal is dismissed
        window.location.reload();
    });

    document.getElementById('cancelBtn').addEventListener('click', function () {
        // Reload the window when the modal is dismissed using Cancel button
        window.location.reload();
    });


    const validateField = (fieldValue, errorMessageElement, errorMessage) => {
        if (fieldValue === '') {
            errorMessageElement.innerText = errorMessage;
            return false;
        }
        errorMessageElement.innerText = ''; // Clear error message
        return true;
    };

    document.getElementById('createProjectForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent default form submission

        // Extract form data
        const formData = new FormData(this);

        // Get the value of the loggedInUserId hidden field
        const loggedInUserId = formData.get('loggedInUserId');
        console.log('Logged In User ID:', loggedInUserId);
        // Append to formData
        formData.append('loggedInUserId', loggedInUserId);

        // Check if at least one assignee is selected
        const selectedUsers = document.getElementById('countries').selectedOptions;
        // Add selected user IDs to form data
        // const selectedUsers = document.getElementById('countries').selectedOptions;
        const userIds = Array.from(selectedUsers).map(option => option.value);
        formData.append('userIds', userIds.join(','));

        // Make POST request using Fetch API
        fetch('/project/create', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    return response.text(); // Return error message from response body
                }
                return response.json();
            })
            .then(data => {
                // Check if data is an error message
                if (typeof data === 'string') {
                    // Handle error message
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: data,
                        showConfirmButton: true,
                    });
                } else {
                    // Handle success response from the server
                    console.log('Success:', data);
                    // Show SweetAlert
                    Swal.fire({
                        icon: 'success',
                        title: 'Project Created Successfully',
                        text: 'Your project has been created successfully!',
                        showConfirmButton: true,
                    }).then(() => {
                        // Optional: Redirect to another page or perform other actions
                        window.location.reload(); // Reload the page after clicking OK
                    });
                }
            })
            .catch(error => {
                // Handle error
                console.error('Error:', error);


                // Show error message using SweetAlert
                // Swal.fire({
                //     icon: 'error',
                //     title: 'Error',
                //     text: error, // Display the error message from the response body
                //     showConfirmButton: true,
                // });
            });
    });




    document.addEventListener('DOMContentLoaded', function () {
        var projectBoxes = document.querySelectorAll('.project-box');

        projectBoxes.forEach(function (projectBox) {
            var startDateElement = projectBox.querySelector('.project-start-date');
            var endDateElement = projectBox.querySelector('.project-end-date');
            var dateDifferenceElement = projectBox.querySelector('.date-difference');

            // Extract start date and end date from the corresponding elements
            var startDate = new Date(startDateElement.innerText);
            var endDate = new Date(endDateElement.innerText);

            // Calculate the time difference and days difference
            var timeDiff = endDate - startDate;
            var daysDiff = Math.ceil(timeDiff / (1000 * 3600 * 24));

            // Display the result in months or days
            if (daysDiff >= 30) {
                var monthsDiff = Math.floor(daysDiff / 30);
                dateDifferenceElement.innerText = monthsDiff + (monthsDiff === 1 ? ' Month' : ' Months');
            } else {
                dateDifferenceElement.innerText = daysDiff + (daysDiff === 1 ? ' Day' : ' Days');
            }
        });
    });


    // JavaScript to handle form submission for updating project details
    $('#updateProjectForm').submit(function (event) {
        event.preventDefault(); // Prevent default form submission

        // Get form data
        var projectId = $('#projectId').val();
        var projectName = $('#updateProjectName').val();
        var projectStartDate = $('#updateProjectStartDate').val();
        var projectDueDate = $('#updateProjectDueDate').val();

        // Ajax request to update project details
        $.ajax({
            url: '/projects/update/' + projectId,
            type: 'POST',
            data: {
                projectName: projectName,
                projectStartDate: projectStartDate,
                projectDueDate: projectDueDate
            },
            success: function (data) {
                // Handle success response
                console.log('Project updated successfully:', data);
                // Reload the page or update the project details in the UI
                window.location.reload();
            },
            error: function (xhr, status, error) {
                // Handle error response
                console.error('Error updating project:', error);
                // Display error message to the user
                alert('Error updating project. Please try again.');
            }
        });
    });


</script>


<!-- Vendor js -->
<script src="/js/vendor.min.js"></script>

<!-- App js -->
<script src="/js/app.min.js"></script>


<!-- dragula js-->
<script src="/libs/dragula/dragula.min.js"></script>

<!-- demo js -->
<script src="/js/pages/component.dragula.js"></script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- DataTables JavaScript -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>


<!-- Dashboard App js -->
<script src="/js/pages/demo.dashboard.js"></script>

<!--  Select2 Plugin Js -->
<script src="/libs/select2/js/select2.min.js"></script>

<!-- Daterangepicker js -->
<script src="/libs/daterangepicker/moment.min.js"></script>
<script src="/libs/daterangepicker/daterangepicker.js"></script>

<!-- Fullcalendar js -->
<script src="/libs/fullcalendar/main.min.js"></script>

<!-- Calendar App Demo js -->
<script src="/js/pages/demo.calendar.js"></script>

<!-- Input Mask Plugin js -->
<script src="/libs/jquery-mask-plugin/jquery.mask.min.js"></script>

<!-- Bootstrap Touchspin Plugin js -->
<script src="/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>

<!-- Bootstrap Maxlength Plugin js -->
<script src="/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/socket.js"></script>

</body>
</html>
