<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Invitation Form</title>
</head>
<body>

<!--/*@thymesVar id="userBean" type="templates"*/-->
<form id="form" class="form-horizontal" action="/send-invitation" method="post">

        <div class="form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email"></input>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="col-sm-2">
                    <input type="submit" value="Sent"
                           class="btn btn-success" style="width: 80px;">
                </div>
</form>
</body>
</html>