<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<!--    <link rel="stylesheet" href="photostyle.css">-->
    <title>Responsive Dashboard Design #2 | AsmrProg</title>
</head>
<body>
    <!-- Sidebar -->
        <div class="sidebar"  th:fragment="sidebar">
            <a href="#" class="logo">
                <!-- <i class='bx bx-code-alt'></i> -->
                <img src="images/logo1.png" style="width: 30px; margin: 10px 10px;" >

                <div class="logo-name"><span>PMS</span></div>
            </a>
            <ul class="side-menu">
                <li class="active"><a href="/systemAdminDashboard"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
                <li><a href="#">
                    <!-- <i class='bx bx-store-alt'></i> -->
                    <i class='bx bxl-slack-old'></i>
                    <!-- <i class="fas fa-project-diagram fa-lg"></i> -->
                    Project</a></li>
                <li><a href="#"><i class='bx bxs-bug'></i>Show Issues</a></li>
                <li><a href="#">
                    <!-- <i class='bx bx-message-square-dots'></i> -->
                    <i class='bx bxl-trello'></i>
                    Board</a></li>
                <li><a href="/usermanage"><i class='bx bx-group'></i>Users</a></li>
                <li><a href="#"><i class='bx bx-cog'></i>Settings</a></li>
            </ul>
            <ul class="side-menu">
                <li>
                    <a href="#" class="logout">
                        <i class='bx bx-log-out-circle'></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    <!-- End of Sidebar -->
    
</body>
</html>